h4 {
    text-transform: none;
    font-weight: bold;
    font-size: large !important;
}

.text-delta {
    text-transform: uppercase;
}

.main-content h4 {
    margin-top: 1.5em !important;
    margin-bottom: 1.5em !important;
}