@model Musoq.ContentAggregator.Models.ResultTableMessageModel

<div class="table">
    <table>
        <thead>
            <tr>
                @foreach (var column in Model.Result.Columns)
                {
                    <th>@column</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach(var row in Model.Result.Rows)
            {
            <tr>
                @foreach (var column in row)
                {
                    <td>@column</td>
                }
            </tr>
            }
        </tbody>
    </table>
</div>

