<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CacheManager.Core" version="1.1.2" targetFramework="net471" />
  <package id="CacheManager.SystemRuntimeCaching" version="1.1.2" targetFramework="net471" />
  <package id="CsvHelper" version="7.0.1" targetFramework="net47" />
  <package id="HtmlAgilityPack" version="1.7.0" targetFramework="net47" />
  <package id="Mammoth" version="1.4.0.0" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.4" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.4" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.4" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.OwinSelfHost" version="5.2.4" targetFramework="net47" />
  <package id="Microsoft.Owin" version="4.0.0" targetFramework="net47" />
  <package id="Microsoft.Owin.Host.HttpListener" version="4.0.0" targetFramework="net47" />
  <package id="Microsoft.Owin.Hosting" version="4.0.0" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net47" />
  <package id="Owin" version="1.0" targetFramework="net47" />
</packages>