@model Musoq.ContentAggregator.Models.QueryModel

@{
    ViewData["Title"] = "Create";
}

<div>
    @using (Html.BeginForm())
    {
        @Html.EditorFor(model => model.Name)
        @Html.TextAreaFor(model => model.Text)
        <input type="submit" value="submit" />
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
