name: CI

on:
  push:
    branches:
      - '**'

jobs:
  build:
    strategy:
      matrix:
        runs-on: [windows-latest]

    runs-on: ${{ matrix.runs-on }}
    name: Running tests on ${{ matrix.runs-on }}.
    steps:
    - uses: actions/checkout@v4
      with:
        dotnet-version: '8.0.x'
        ref: ${{ github.ref }}
    - name: Install trx2junit
      run: dotnet tool install -g trx2junit
    - name: Build & Run tests
      run: dotnet test src/dotnet/Musoq.sln --configuration Release --logger "trx;LogFileName=test-results.trx"
