name: Publish

on: [push]

jobs:
  build:
    strategy:
      matrix:
        runs-on: [windows-latest]

    runs-on: ${{ matrix.runs-on }}
    name: Running tests on ${{ matrix.runs-on }}. 
    steps:
    - uses: actions/checkout@master
      with:
        dotnet-version: 6.0.4
    - name: Build & Run tests
      run: dotnet test --configuration Release
    - name: Publish
      if: github.ref == 'refs/heads/master'
      run: |
        $scriptLocationDirectory=(Get-Location).ToString()
        $scriptLocationFilePath=[System.IO.Path]::Combine($scriptLocationDirectory, "Publish.Nuget.ps1")
        $nugetExecutable=[System.IO.Path]::Combine($scriptLocationDirectory, "nuget", "nuget.exe")
        $projects = @('Musoq.Converter', 'Musoq.Evaluator', 'Musoq.Parser', 'Musoq.Plugins', 'Musoq.Schema', 'Musoq.Schema.FlatFile', 'Musoq.Schema.Json', 'Musoq.Schema.Os', 'Musoq.Schema.SeparatedValues', 'Musoq.Schema.System', 'Musoq.Schema.Time', 'Musoq.Schema.Xml')
        
        foreach ($project in $projects) {
          pushd
          cd "./$project/bin/Release"
          Invoke-Expression "$scriptLocationFilePath $nugetExecutable $project '${{ secrets.nuget_musoq_key }}'"
          popd
        }
